# Ignore database files
*.db
*.sqlite3

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
.env/
.envrc
.python-version

# Ignore dataset files
data/*.csv
data/*.xlsx

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled C extensions
*.so

